{%extends 'layout.html' %}

{%block content %}
<form action="/resultado" method="POST">
    <label>N1:</label>
    <input type="text" name="n1" /><br>
    <label>N2:</label>
    <input type="text" name="n2" /><br>
    <input type="hidden" name="operacion" id="operacion" display="none">
    <button type="submit" onclick="document.getElementById('operacion').value='mult'">*</button>
    <button type="submit" onclick="document.getElementById('operacion').value='suma'">+</button>
    <button type="submit" onclick="document.getElementById('operacion').value='resta'">-</button>
    <button type="submit" onclick="document.getElementById('operacion').value='div'">/</button>
</form>

{%endblock%}